<?xml version="1.0" encoding="UTF-8"?>
<!--
    Where is the XML schema?? See below:
    https://stackoverflow.com/questions/13904481/in-log4j2-how-do-i-associate-an-xml-schema-with-log4j2-xml
    https://springframework.guru/log4j-2-configuration-using-xml/
    https://howtodoinjava.com/log4j2/multiple-appenders/
-->
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
        <Property name="appsDebugLogsFilename">${sys:user.home}/seerBotAdmin/logs/appDebug.log</Property>
        <Property name="appsDebugLogsFilenamePattern">
            ${sys:user.home}/seerBotAdmin/logs/appDebug-%d{yyyy-MM-dd}.log.gz
        </Property>
        <Property name="appsErrorLogsFilename">${sys:user.home}/seerBotAdmin/logs/appError.log</Property>
        <Property name="appsErrorLogsFilenamePattern">
            ${sys:user.home}/seerBotAdmin/logs/appError-%d{yyyy-MM-dd}.log.gz
        </Property>
        <Property name="vendorErrorLogsFilename">${sys:user.home}/seerBotAdmin/logs/vendorError.log</Property>
        <Property name="vendorErrorLogsFilenamePattern">
            ${sys:user.home}/seerBotAdmin/logs/vendorError-%d{yyyy-MM-dd}.log.gz
        </Property>
        <Property name="vendorInfoLogsFilename">${sys:user.home}/seerBotAdmin/logs/vendorInfo.log</Property>
        <Property name="vendorInfoLogsFilenamePattern">
            ${sys:user.home}/seerBotAdmin/logs/vendorInfo-%d{yyyy-MM-dd}.log.gz
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <!-- Rolling File Appender -->
        <RollingFile name="AppDebugLogs" fileName="${appsDebugLogsFilename}"
                     filePattern="${appsDebugLogsFilenamePattern}">
            <LevelRangeFilter minLevel="WARN" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="AppErrorLogs" fileName="${appsErrorLogsFilename}"
                     filePattern="${appsErrorLogsFilenamePattern}">
            <LevelRangeFilter minLevel="FATAL" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="VendorInfoLogs" fileName="${vendorInfoLogsFilename}"
                     filePattern="${vendorInfoLogsFilenamePattern}">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="VendorErrorLogs" fileName="${vendorErrorLogsFilename}"
                     filePattern="${vendorErrorLogsFilenamePattern}">
            <LevelRangeFilter minLevel="FATAL" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.seerlogics" additivity="false">
            <AppenderRef ref="AppDebugLogs"/>
            <AppenderRef ref="AppErrorLogs"/>
        </Logger>
        <Logger name="com.lingoace" additivity="false">
            <AppenderRef ref="AppDebugLogs"/>
            <AppenderRef ref="AppErrorLogs"/>
        </Logger>
        <Logger name="org.springframework" additivity="false">
            <AppenderRef ref="VendorInfoLogs"/>
            <AppenderRef ref="VendorErrorLogs"/>
        </Logger>
        <Logger name="org.hibernate" additivity="false">
            <AppenderRef ref="VendorInfoLogs"/>
            <AppenderRef ref="VendorErrorLogs"/>
        </Logger>
        <!--
            All other info logs, dump to console and VendorInfoLogs
        -->
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="VendorInfoLogs"/>
        </Root>
    </Loggers>
</Configuration>