{
    "widget": "table",
        "heading": "Here are the nearby Events",
        "rows": [
            #foreach ($item in $jsonData)
                {
                    "cols": [{
                            "col": "$item.name",
                            "colName": "name",
                            "clickUrl": "/admin/events/detail/$item.id"
                        }#*, {
                            "col": "$item.description",
                            "colName": "description"
                        }*#, {
                            "col": "$item.startDate",
                            "colName": "startDate"
                        }, {
                            "col": "Delete?",
                            "colName": "delete",
                            "clickAction": "yesNo",
                            "clickResponse": "delete event",
                            "clickActionUrl": "/admin/events/delete/$item.id",
                            "clickItemId": "$item.id"
                        }
                    ]
                }#if( $foreach.hasNext ), #end
            #end
    ]
}